.section.section-advantages
	.section-content
		h2 Чем&nbsp;деревянные окна лучше?
		
		.advantages-list
			img(src="img/advantages/advantages.png")
			.advantages-item.advantages-microclimate
				h4 Микроклимат
				p Деревянные окна за&nbsp;счёт постепенного воздухообмена помогают держать оптимальную влажность и&nbsp;создают здоровый микроклимат.
				
			.advantages-item.advantages-ecology
				h4 Экологичность
				p Дерево не&nbsp;держит статический заряд и,&nbsp;как&nbsp;следствие, не&nbsp;притягивает пыль.
				
			.advantages-item.advantages-durability
				h4 Долговечность
				p Современные конструкции и&nbsp;качественная обработка гарантируют надежность и&nbsp;долговечность деревянных окон.
				
			.advantages-item.advantages-warm
				h4 Теплоизоляция
				p Древесина является лучшим теплоизолятором, аналогов которому на&nbsp;строительном рынке нет.
				
			.advantages-item.advantages-repair
				h4 Ремонтопригодность
				p Деревянные окна дешевле в&nbsp;обслуживании и&nbsp;ремонте — не&nbsp;требуются специальные детали, всё изготавливается из&nbsp;дерева в&nbsp;кратчайшие сроки. 
				
			.advantages-item.advantages-appearance
				h4 Внешний вид
				p Использование специальных пропиток при&nbsp;изготовлении позволяет окнам сохранять первоначальный вид.
				
