.section.section-description
	.section-content
		.description-description
			h4 Деревянные окна «Ланкор»
			p Правильный выбор для&nbsp;вашего дома. Немецкое качество гарантирует тепло, шумоизоляцию, долговечность.
				= " "
				span.description-newline У&nbsp;нас уникальная цветовая гамма — более 50&nbsp;цветов и&nbsp;оттенков. Идеально подходят для&nbsp;коттеджей, бань и&nbsp;саун, хозяйственных пристроек.
