.section.section-footer
	.section-content
		.footer-contacts
				.logo
					a(href="#header", data-scroll-to=".section-header") Ланкор
				.contacts
					a(href="tel: +7 923 404 96 56") +7 923 404 96 56
					p Новосибирск, Калинина&nbsp;98, офис&nbsp;305

.section.section-footer-dev
	.section-content
		p
			span Разработка
			= " "
			a(href="http://constructivesolutions.ru") студии «Конструктивные решения»
