.section.section-guarantees(data-appear-animation='.guarantees-list')
	.section-content
		h2 Наши гарантии
	
	.guarantees-list(data-appear-animate)
		.guarantees-first
			.group
				h4 3
				p года
					br
					| на&nbsp;изделие
					
			.group
				h4 10
				p лет 
					br
					| на&nbsp;герметичность
					br
					| стеклопакета
					
			.group
				h4 5
				p лет 
					br
					| на&nbsp;фурнитуру
					
		.guarantees-second
			.group
				h4 1
				p год 
					br
					| на&nbsp;монтажные
					br
					| работы
					
			.group
				h4 5
				p лет 
					br
					| на&nbsp;лакокрасочное
					br
					| покрытие
		
