.section.section-header(data-appear-animation='.section-header header')
	.section-content
		header(data-appear-animate)
			h1 Деревянные окна
				br
				| дышат
			h3 Окна для&nbsp;тех, кто&nbsp;ценит качество
			button.header-callback(data-popup-open="open")
				span Обратный звонок
