nav.section.section-menu
	ul.menu-menu
		li
			a(href="#header", data-scroll-to=".section-header")
				span Ланкор
		li
			a(href="#advantages", data-scroll-to=".section-advantages") Преимущества
		li
			a(href="#price", data-scroll-to=".section-price") Стоимость
		li
			a(href="#terms", data-scroll-to=".section-terms") Сроки
		li
			a(href="#guarantees", data-scroll-to=".section-guarantees") Гарантии
		li
			a(href="#reviews", data-scroll-to=".section-reviews") Отзывы
			
	.menu-hamburger
		button.hamburger(data-menu-open="open")
			span Меню
			
	.menu-close
		button.menu-close-menu(data-menu-open="close") Закрыть
		
	.menu-right
		a(href="tel: +7 923 404 96 56") +7 923 404 96 56
		button.menu-callback(data-popup-open="open")
			span Обратный звонок
