.section.section-more
	.section-content
		.more-services
			.service
				h4 Наши дополнительные услуги
				p Мы осуществляем доставку изделий к&nbsp;дому, подъем на&nbsp;этаж, демонтаж старых изделий, монтаж изделий, наружную и&nbsp;внутреннюю отделку откосов (5&nbsp;видов отделки), гарантийное и&nbsp;сервисное обслуживание.
			.free
				h4 Бесплатно
				p Расчёт по&nbsp;изделиям комплектации бесплатен, а&nbsp;также выезд для&nbsp;подписания договора и&nbsp;конструктора–замерщика к&nbsp;вам домой.
