.section.section-price
	.section-content
		h2 Стоимость
		.price-list
			.price
				.price-image(style="background-image: url(img/price/price01.jpg);")
				.price-material
					h5 Материал:
					p сосна
				.price-size
					h5 Размер:
					p 1.5 м × 2.3 м
				.price-making
					h5 Изготовление:
					p 15 суток
				h4 18 000 ₽
				
			.price
				.price-image(style="background-image: url(img/price/price02.jpg);")
				.price-material
					h5 Материал:
					p дуб
				.price-size
					h5 Размер:
					p 1.9 м × 3.7 м
				.price-making
					h5 Изготовление:
					p 28 суток
				h4 25 000 ₽
				
			.price
				.price-image(style="background-image: url(img/price/price03.jpg);")
				.price-material
					h5 Материал:
					p сосна
				.price-size
					h5 Размер:
					p 1.3 м × 2 м
				.price-making
					h5 Изготовление:
					p 12 суток
				h4 15 000 ₽
				
		button.price-callback(data-popup-open="open")
			span Заказ замера
