.section.section-reviews
	.section-content
		h2 Отзывы
		.reviews
			.review
					.review-image(style="background-image: url(img/reviews/01.jpg);")
					h4 Аркадий
					h5 архитектор
					p Использую окна Stoller в&nbsp;своих проектах. Современное время требует быстрых решений и,&nbsp;может быть, экономичных. Но&nbsp;в&nbsp;то&nbsp;же&nbsp;самое время, люди начинают понимать всю&nbsp;прелесть экологической чистоты материалов, в&nbsp;которых они живут.
			.review
					.review-image(style="background-image: url(img/reviews/02.jpg);")
					h4 Олег
					h5 владелец хозяйства
					p Долго выбирал между пластиковыми и&nbsp;деревянными окнами. Дома стояли пластиковые и&nbsp;квартире было то&nbsp;душно, то&nbsp;наоборот продувало. Поставил деревянные, доволен. Окна хорошо смотрятся, «дышат», и&nbsp;зимой отлично сохраняют тепло.
			.reviews-mobile
				.review
						.review-image(style="background-image: url(img/reviews/03.jpg);")
						h4 Николай
						h5 переводчик
						p Оставил заявку на&nbsp;бесплатный замер и&nbsp;просчёт стоимости окон. Мастер приехал достаточно быстро, однако просчёты заняли аж 4&nbsp;дня. Возможно, это связано с&nbsp;тем, что я&nbsp;менял окна во&nbsp;всем доме (4 комнаты). Окна я&nbsp;заказал по&nbsp;индивидуальному дизайну, срок производства обозначили до&nbsp;90&nbsp;дней. Очень долго, но&nbsp;из&nbsp;других производителей никто не&nbsp;мог сделать такие окна, которые я&nbsp;хочу. 
				.review
						.review-image(style="background-image: url(img/reviews/04.jpg);")
						h4 Ольга
						h5 директор школы
						p Осталась очень довольна качеством и&nbsp;внешним видом. Спасибо!
				.review
						.review-image(style="background-image: url(img/reviews/05.jpg);")
						h4 Наталья
						h5 менеджер
						p Для&nbsp;меня был важен эко-дизайн. В&nbsp;«Ланкоре» я&nbsp;смогла подобрать оптимальный дизайн под&nbsp;свой интерьер. 
				.review
						.review-image(style="background-image: url(img/reviews/06.jpg);")
						h4 Николай
						h5 водитель
						p Качество на&nbsp;высоте, этой зимой был первый тест-драйв – ничего не&nbsp;продувает, дома очень тепло и&nbsp;комфортно.
					
		button.reviews-more(data-reviews-more)
			span Больше отзывов
	
