.section.section-terms
	.section-content
		h2 Сроки изготовления
		.infographic
			.first-step
				.days
					strong 2
					span дня
				.text
					h4 Замер
					p Наш&nbsp;конструктор-замерщик в&nbsp;течение двух дней приедет к&nbsp;вам и&nbsp;осуществит все&nbsp;замеры.
			.second-step
				.days
					strong 1
					span день
				.text
					h4 Расчёт стоимости
					p После того, как&nbsp;вы определились, мы&nbsp;рассчитаем стоимость в&nbsp;тот&nbsp;же день.
			.third-step
				.days
					strong 1
					span день
				.text
					h4 Подписание договора
					p Подписать договор можно как у&nbsp;нас в&nbsp;осфисе, так и&nbsp;у&nbsp;вас дома.
			.fourth-step
				.days
					.before
						span до
						span до
					strong 20/90
					.days-days
						span дней
						span дней
				.text
					h4 Изготовление
					p До&nbsp;20&nbsp;дней изготовим стандартные конструкции и&nbsp;до&nbsp;90&nbsp;дней — нестандартные.
			.fifth-step
				.days
					span до
					strong 5
					span дней
				.text
					h4 Доставка и&nbsp;монтаж
					p В&nbsp;зависимости от&nbsp;монтажа, до&nbsp;5&nbsp;дней
		button.terms-callback(data-popup-open="open")
			span Заказ замера
