.section.section-why
	.section-content
		h2 Почему именно «Ланкор»?
		
		.why-first
			h4 Прочность и&nbsp;надёжность
			p Ещё перед изготовлением бруса мы&nbsp;просушиваем доски в&nbsp;три этапа, после чего проводим выбраковку: удаляем сучки, смоляные карманов, трещин. Затем мы сращиваниваем готовую доску в&nbsp;брус. Для&nbsp;проклейки применяем водоотталкивающий клей, что&nbsp;делает готовое окно негигроскопичным. Различное направление волокон повышает прочность и препятствует деформации оконного блока при&nbsp;перепадах температуры. Прочность клееных изделий повышается на&nbsp;80%, а&nbsp;жесткость — на&nbsp;40%.
			
		blockquote
			span Наша особая уплотнительная система сохраняет работоспособность при&nbsp;температурах
				= " "
				nobr от –45 до +70
				= " "
				| градусов без&nbsp;потери физико-механических свойств.
		
		.why-second
			h4 Профессиональный монтаж
			p Выполним монтаж в&nbsp;самый короткий срок. Работают исключительно опытные специалисты, досконально знающие свою работу. Благодаря этому, они&nbsp;предельно точно выполняют все&nbsp;необходимые замеры, монтаж, отделку откосов. Делаем «тёплые» откосы. Применяем паротеплоизоляционные материалы.
			
		.why-third
			h4 Высокотехнологичное производство
			p Мы производим окна из&nbsp;специального клееного бруса. Именно эта&nbsp;технология позволяет избежать деформации рамы и&nbsp;створок воnbsp;время всего срока эксплуатации. Изготовление деревянных окон — процесс трудоемкий. Помимо сборки самой деревянной конструкции, необходимо тщательно подобрать оптимальный состав пропитки для&nbsp;защиты древесины от&nbsp;насекомых, влаги и&nbsp;ультрафиолетового излучения. Для&nbsp;этого используются специальные грунтовки и&nbsp;лаки от&nbsp;немецких и&nbsp;финских производителей.
